.ivu-rate-star-chart.ivu-rate-star-full .ivu-rate-star-first
.ivu-rate-star-chart.ivu-rate-star-full .ivu-rate-star-second
.ivu-rate-star-chart.ivu-rate-star-half .ivu-rate-star-first
	color #2d8cf0 !important

.ivu-rate-star-first
	z-index 1

.ivu-rate-star-chart.ivu-rate-star-zero .ivu-rate-star-second
.ivu-rate-star-chart.ivu-rate-star-half .ivu-rate-star-second
	color var(--color-grey) !important
