.ivu-rate-star-chart.ivu-rate-star-full .ivu-rate-star-first
.ivu-rate-star-chart.ivu-rate-star-full .ivu-rate-star-second
.ivu-rate-star-chart.ivu-rate-star-half .ivu-rate-star-first
	color #2d8cf0 !important

.ivu-rate-star-first
	z-index 1

.ivu-rate-star-chart.ivu-rate-star-zero .ivu-rate-star-second
.ivu-rate-star-chart.ivu-rate-star-half .ivu-rate-star-second
	color var(--color-grey) !important

.ivu-modal-confirm-body
	padding-left 0 !important
	iframe
		display block !important
		margin auto !important

.ivu-modal-confirm-head-title
	margin-left 0
	padding-bottom .5rem

.ivu-modal-confirm-head-icon-info
	display none

.flex .ivu-form-item-content
	display flex
	justify-content space-between
	align-items center

	@media (max-width 480px)
		flex-direction column

label.ivu-btn
	padding .5em 1.75em .5em 1em
	margin-bottom 8px

.ivu-divider.ivu-divider-with-text
	margin 2rem 0 !important

.ivu-btn-long
	display block

.ivu-btn-long + .ivu-btn-long
	margin-top 1em

.ivu-form.no-label .ivu-form-item-label
	position absolute
	width 1px
	height 1px
	visibility hidden
	overflow hidden
	clip rect(0, 0, 0, 0)
	padding 0
	font-size 0
	line-height 0

	&::before
		content none

.no-checkbox
	&.ivu-btn
		padding .5em 1em
		width 50px

		& > .ivu-icon + span
		& > span + .ivu-icon
			margin-left 0 !important

	.ivu-checkbox
		position absolute
		width 1px
		height 1px
		clip rect(0, 0, 0, 0)
		overflow hidden
